{% extends "base.html" %}
{% block title %}
老师合作 - 实验楼
{% endblock %}
{% block content %}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
                <span class="sr-only">实验楼</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index/">
                <img src="/static/img/logo_03.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="header-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown active">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        课程
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="active" href="/courses/index/" >全部课程</a></li>
                        <li><a class="" href="/courses/index/?status=preview" >即将上线</a></li>
                        <li><a class="" href="/developer/index/">开发者</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="/paths/index/">路径</a>
                </li>
                <li class="">
                    <a href="/questions/index/">讨论区</a>
                </li>
                <li class=" bootcamp new-nav logo-1111">
                    <a href="/bootcamp/index/">训练营</a>
                    
                </li>
                <li class=" new-nav logo-1111">
                    <a href="/vip/index/">会员</a>
                    
                </li>
                
            </ul>

            
            <div class="navbar-right btns">
                <a class="btn btn-default navbar-btn sign-in" data-sign="signin" href="#sign-modal" data-toggle="modal">登录</a>
                <a class="btn btn-default navbar-btn sign-up" data-sign="signup" href="#sign-modal" data-toggle="modal">注册</a>
            </div>
            

            <form class="navbar-form navbar-right" action="../search" method="get" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" autocomplete="off" placeholder="搜索 课程/问答">
                </div>
            </form>
        </div>
    </div>
</nav>

        
	
<div class="laboratory-header layout-no-margin-top">
    <h1 class="laboratory-title">在线实验，让计算机教学灵活高效</h1>
</div>
<div class="laboratory-des-con">
    <div class="container">
        <div class="laboratory-des col-md-6">
            <div class="media laboratory-des-item">
                <div class="media-left media-middle">
                    <a><img src="/staticimg/laboratory-higheffic.png"></a>
                </div>
                <div class="media-body">
                    <h4 class="laboratory-des-title">实验设计不受局限</h4>
                    <p class="laboratory-des-text">在线环境1秒启动，环境可定制，预装软件</p>
                </div>
            </div>
            <div class="media laboratory-des-item">
                <div class="media-left media-middle">
                    <a><img src="/static/img/laboratory-nimble.png"></a>
                </div>
                <div class="media-body">
                    <h4 class="laboratory-des-title">随时随地动手实验</h4>
                    <p class="laboratory-des-text">云端代码库随时同步，实验报告自动生成</p>
                </div>
            </div>
            <div class="media laboratory-des-item">
                <div class="media-left media-middle">
                    <a><img src="/static/img/laboratory-proper.png"></a>
                </div>
                <div class="media-body">
                    <h4 class="laboratory-des-title">教学管理简单有序</h4>
                    <p class="laboratory-des-text">在线管理学生代码、实验报告，远程协作指导</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="laboratory-apply-con">
                <h4 class="laboratory-apply-title">开设在线实验课，可以做什么？</h4>
                <div class="laboratory-apply-text">
                    <p>如果您是高校教师，可定制私有课，学生随时随地实验，老师一键下载学习数据</p>
                    <p>如果您是技术工程师，可分享最新的IT实战技术，与粉丝畅聊互动</p>
                    <p>如果您是计算机MOOC老师，在线实验可以让学生边学边练，获得学生真实的学习效果反馈</p>
                    <p>......</p>
                </div>
                <a href="http://form.mikecrm.com/f.php?t=A4qEXq" class="laboratory-apply-btn" target="_blank">填写表单，申请开课</a>
                <div class="laboratory-apply-warning">欢迎高校老师 / 机构讲师 / 技术博主申请。</div>
            </div>
        </div>
    </div>
</div>
<div class="laboratory-teachers-con">
    <div class="container">
		<div class="row">
			<div class="laboratory-teachers-header">
				<img src="/static/img/laboratory-flag.png" class="laboratory-teachers-flag">
				<span class="laboratory-teachers-here">他们都在这里</span>
                <span class="laboratory-teachers-tri"></span>
				<span class="laboratory-here-text">他们在这里开设了专属实验室</span>
			</div>
		</div>
        <div class="row laboratory-tea-panel">
            
			<div class="col-md-4">
				<a href="/user/13/study/">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatarDFKL7L25TBCL.jpg?imageView2/1/w/200/h/200"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									严老师
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">河北交通职业技术学院</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/user/13/study/">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatarW6LVY88YVFK6.jpg?imageView2/1/w/200/h/200"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									陆卫忠
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">苏州科技学院</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/user/13/study/">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatarKTH9MTLYNWL7.jpg?imageView2/1/w/200/h/200"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									王老师
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">武汉理工大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/user/13/study/">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatarNTY0MzE5MTY0OTA0.png?v=1463643389748&amp;imageView2/1/w/200/h/200"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									吴老师
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">防灾科技学院</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/user/13/study/">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatarXWCQHTH6G8GJ.jpg?imageView2/1/w/200/h/200"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									赵老师
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">北京工商大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;2&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/user/13/study/">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatarA4S4ZEPKNH6H.jpg?imageView2/1/w/200/h/200"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									毛典辉
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">北京工商大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/user/13/study/">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatarNSX55853FV4D.jpg?imageView2/1/w/200/h/200"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									董老师
								</span>&nbsp;
								<span class="tectitle">副教授</span>
							</p>
                            
                            <p><span class="tecnschool">河北师范大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;2&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/user/13/study/">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatar78E6XYYPTDY9.jpg?imageView2/1/w/200/h/200"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									张华
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">哈尔滨工业大学（威海）</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;3&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/user/13/study/">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatarNTY0MzE5MTMwMzk1.png?v=1471616297554&amp;imageView2/1/w/200/h/200"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									黑板客
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">网易云课堂讲师</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;2&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/user/13/study/">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.qbox.me/gravatar25.jpg?imageView2/1/w/200/h/200"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									张老师
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">沈阳航空航天大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;2&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/74224">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatarXKHBK8QBLTAT.jpg?imageView2/1/w/200/h/200"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									溪老师
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">华中科技大学武昌分校</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/65531">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatarNTY0MzE5MDc4MjA2.png?v=1463563574054&amp;imageView2/1/w/200/h/200"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									李远辉
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">湖南工程学院</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;5&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/55546">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatar40.jpg?imageView2/1/w/100/h/100"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									杨浚
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">常州开放大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/51209">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-anything-about-doc.qbox.me/teacher/seedlab_v2.png"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									SEEDLabs
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">Syracuse University</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;19&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/48058">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatar48.jpg?imageView2/1/w/100/h/100"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									丁宋涛
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">南京工程学院</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/36061">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-anything-about-doc.qbox.me/teacher/chenyu.jpg"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									陈渝
								</span>&nbsp;
								<span class="tectitle">副教授</span>
							</p>
                            
                            <p><span class="tecnschool">清华大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/34822">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-anything-about-doc.qbox.me/teacher/StudyGolang社区logo1.png"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									Go语言中文网
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <div class="tecname"></div>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/30757">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-anything-about-doc.qbox.me/teacher/清华大学出版社社标.jpg"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									清华大学出版社
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <div class="tecname"></div>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;2&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/28022">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.qbox.me/gravatar46.jpg?imageView2/1/w/100/h/100"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									娄嘉鹏
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">北京电子科技学院</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;5&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/27791">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-anything-about-doc.qbox.me/teacher/jixiegongye.jpg"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									机械工业出版社
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <div class="tecname"></div>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/26709">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-anything-about-doc.qbox.me/teacher人邮透明社标1.jpg"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									人民邮电出版社
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <div class="tecname"></div>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;3&nbsp;
								</span>
								门课程
								</span>

							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/25536">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-anything-about-doc.qbox.me/teacher/linuxcn.jpg"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									Linux中国
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <div class="tecname"></div>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;4&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/20637">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatar55.jpg?imageView2/1/w/100/h/100"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									王和兴
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">东北大学秦皇岛分校</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;2&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/19614">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-anything-about-doc.qbox.me/teacher/lizhijun.png"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									李治军
								</span>&nbsp;
								<span class="tectitle">副教授</span>
							</p>
                            
                            <p><span class="tecnschool">哈尔滨工业大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/19301">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-anything-about-doc.qbox.me/teacher/mengning.jpg"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									孟宁
								</span>&nbsp;
								<span class="tectitle">高级工程师</span>
							</p>
                            
                            <p><span class="tecnschool">中国科学技术大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;3&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/19216">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.qbox.me/gravatar7.jpg?imageView2/1/w/100/h/100"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									王老师
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">烟台大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/17773">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-anything-about-doc.qbox.me/teacher/43_avatar_middle.jpg"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									郑莉
								</span>&nbsp;
								<span class="tectitle">副教授</span>
							</p>
                            
                            <p><span class="tecnschool">清华大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/12501">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-anything-about-doc.qbox.me/teacher.jpg"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									郑晓薇
								</span>&nbsp;
								<span class="tectitle">教授</span>
							</p>
                            
                            <p><span class="tecnschool">辽宁师范大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;3&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/12145">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatar61.jpg?imageView2/1/w/100/h/100"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									岳亚伟
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">山西农业大学</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;1&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
			<div class="col-md-4">
				<a href="/teacher/12132">
                    <div class="laboratory-box">
                        <div class="col-md-6">
                            
                                <img class="headimg" src="https://dn-simplecloud.shiyanlou.com/gravatar44.jpg?imageView2/1/w/100/h/100"/>
                            
                        </div>
                        <div class="col-md-6 top-13">
                            <p>
								<span class="tecname">
									关老师
								</span>&nbsp;
								<span class="tectitle"></span>
							</p>
                            
                            <p><span class="tecnschool">南昌师范学院</span></p>
                            
                            <p>
								<span class="coursenum">已发布
								<span style="color:#eb6877;font-weight:bold;">
									&nbsp;2&nbsp;
								</span>
								门课程
								</span>
							</p>
                        </div>
                    </div>
				</a>
			</div>
            
        </div>
    </div>
</div>
{% endblock %}