{% extends "base.html" %}

{% block title %}
高校合作 - 实验楼
{% endblock %}
{% block content %}
<div class="container layout layout-margin-top">


    <div class="row">
        <div class="col-md-9 layout-body">

    <div class="content">
        <div class="discovery-list">
            <div class="discovery-title">
                <img class="pull-left" src="/static/img/community.png">
                <div class="pull-left discovery-title-text">
                    <strong>高校群组</strong><span>（发现身边一起奋斗的小伙伴）</span>
                </div>
            </div>
            <div class="row">


<div class="col-md-4" >
    <a class="community-item" href="/edu/uestc/">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-simplecloud.qbox.me/group-gravatarNTY0MzE5MDEyNzY2.png?v=1431078893010&amp;imageView2/1/w/200/h/200">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">电子科技大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 689</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/bupt">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-anything-about-doc.qbox.me/daxue北京邮电大学logo.jpg">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">北京邮电大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 526</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/hust">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-anything-about-doc.qbox.me/daxue华中科技大学logo.jpg">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">华中科技大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 511</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/ustc">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-anything-about-doc.qbox.me/daxue中国科学技术大学logo.jpg">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">中国科学技术大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 491</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/xidian">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-anything-about-doc.qbox.me/daxue西安电子科技大学logo.jpg">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">西安电子科技大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 467</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/hnie">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-simplecloud.qbox.me/1463463320092.png">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">湖南工程学院</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 423</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/cqupt">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-anything-about-doc.qbox.me/daxue重庆邮电大学logo.jpg">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">重庆邮电大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 415</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/whut">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-anything-about-doc.qbox.me/daxue武汉理工大学logo.jpg">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">武汉理工大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 387</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/pku">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-anything-about-doc.qbox.me/daxue北京大学logo.png">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">北京大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 360</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/tsinghua">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-anything-about-doc.qbox.me/daxue清华大学logo.jpg">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">清华大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 353</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/seu">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-simplecloud.qbox.me/community_11.jpg">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">东南大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 343</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/zju">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-anything-about-doc.qbox.me/daxue浙江大学logo.jpg">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">浙江大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 343</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/whu">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-anything-about-doc.qbox.me/daxue武汉大学logo.jpg">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">武汉大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 318</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/hdu">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-simplecloud.qbox.me/group-gravatarNTY0MzE5MDEyNzQ5.png?v=1431073025920&amp;imageView2/1/w/200/h/200">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">杭州电子科技大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 311</div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-md-4" >
    <a class="community-item" href="/edu/scut">
        <div class="media">
            <div class="media-left community-item-left">
                <div class="community-item-img">
                    <img class="media-object" src="https://dn-simplecloud.qbox.me/1469157895193.png">
                </div>
            </div>
            <div class="media-body community-item-body">
                <h4 class="media-heading community-item-name">华南理工大学</h4>
                <div class="community-item-info">
                    <div class="community-item-sum">人数： 283</div>
                </div>
            </div>
        </div>
    </a>
</div>




<nav class="pagination-container">
    <ul class="pagination">

        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>



        <li class="active">
            <a href="/edu/?sort=&amp;page=1">1</a>
        </li>



        <li class="">
            <a href="/edu/?sort=&amp;page=2">2</a>
        </li>



        <li class="">
            <a href="/edu/?sort=&amp;page=3">3</a>
        </li>



        <li class="">
            <a href="/edu/?sort=&amp;page=4">4</a>
        </li>



        <li class="">
            <a href="/edu/?sort=&amp;page=5">5</a>
        </li>



        <li>
            <a href='#'>...</a>
        </li>



        <li class="">
            <a href="/edu/?sort=&amp;page=457">457</a>
        </li>



        <li class="">
            <a href="/edu/?sort=&amp;page=458">458</a>
        </li>



        <li class="">
            <a aria-label="Next" href="/edu/?sort=&amp;page=2">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>

    </ul>
</nav>


            </div>
        </div>
    </div>

        </div>
        <div class="col-md-3 layout-side">


<form class="side-search-input" method="get">
    <div class="input-group">
        <input class="form-control" type="text" name="search" placeholder="搜索...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>



        </div>
    </div>
</div>
{% endblock %}