{% extends "base.html" %}
{% block title %}
好心人可以告诉我怎么截屏吗。。。 - 实验楼问答 - 实验楼
{% endblock %}
{% block content %}
    <div class="container layout layout-margin-top">

<ol class="breadcrumb">
    <li><a href="/questions/">讨论区</a></li>

    <li><a href="/questions/?area_type=course">课程问答</a></li>

    <li class="active">
        <a href="/questions/8641">
        好心人可以告诉我怎么截屏吗。。。
        </a>
    </li>
</ol>

    <div class="row">
        <div class="col-md-9 layout-body">

    <div class="content question-detail">
        <div class="question-headline">
            <span class="question-title"> 好心人可以告诉我怎么截屏吗。。。</span>
            <span class="question-figure">3 回复</span><span class="question-figure">17 查看</span>
        </div>
        <div class="question-author">




    <div class="user-avatar ">
        <a class="avatar" href="/user/347060" target="_blank">
            <img src="https://dn-simplecloud.shiyanlou.com/gravatarM7Q8G5B92TNJ.jpg?imageView2/1/w/200/h/200">
        </a>

    </div>





    <div class="user-username ">
        <a class="username" href="/user/347060" target="_blank">

                到此一游


        </a>
        <span class="user-level">L4</span>
    </div>

            <span>23小时前</span>

            <span><a href="/questions/?area_type=course">课程问答</a></span>


            <span class="question-from">来自： <a href="/questions/courses/115">熟悉实验环境 </a></span>


                <a href="#sign-modal" data-toggle="modal" data-sign="signin" class="btn btn-primary collectBtn">收藏</a>




        </div>
        <div class="question-content markdown-body">
            <p>第一段代码中，步骤三第二行的libb.a应该是libb.o，同步骤二中的一致
</p>



<div class="labreport-detail-like">

    <span class="btn btn-default btn-weiboshare">
        <i class="fa fa-share-alt"></i>
    </span>
</div>

        </div>

        <div class="question-answers">
            <p class="ptilte">全部回复</p>
            <hr/>


            <div class="answer-item">
                <div class="answer-head">




    <div class="user-avatar ">
        <a class="avatar" href="/user/212008" target="_blank">
            <img src="https://dn-simplecloud.shiyanlou.com/gravatarNTY0MzE5MjI0Njgz.png?v=1477283063583&amp;imageView2/1/w/200/h/200">
        </a>

        <a class="member-icon" href="/vip" target="_blank">

<img src="
            https://static.shiyanlou.com/img/vip-icon.png
          ">

        </a>

    </div>

                </div>
                <div class="answer-detail">
                    <span class="comment-reply">




    <div class="user-username ">
        <a class="username" href="/user/212008" target="_blank">

                米斯特_周


        </a>
        <span class="user-level">L234</span>
    </div>

                    </span>

                    <div class="answer-content markdown-body">
                    <textarea style="display:none;">开始实验后，如图所示：

![图片描述](https://dn-simplecloud.shiyanlou.com/uid/212008/1483688692465.png-wm)</textarea>
                    </div>



                    <div>
                        <span class="create-time">21小时前</span>

                        <hr/>
                    </div>
                </div>
            </div>

            <div class="answer-item">
                <div class="answer-head">




    <div class="user-avatar ">
        <a class="avatar" href="/user/347060" target="_blank">
            <img src="https://dn-simplecloud.shiyanlou.com/gravatarM7Q8G5B92TNJ.jpg?imageView2/1/w/200/h/200">
        </a>

    </div>

                </div>
                <div class="answer-detail">
                    <span class="comment-reply">




    <div class="user-username ">
        <a class="username" href="/user/347060" target="_blank">

                到此一游


        </a>
        <span class="user-level">L4</span>
    </div>

                    </span>

                    <div class="answer-content markdown-body">
                    <textarea style="display:none;">这个不是发实验报告咩。。。怎么提问的时候发截图啊
</textarea>
                    </div>



                    <div>
                        <span class="create-time">5小时前</span>

                        <hr/>
                    </div>
                </div>
            </div>

            <div class="answer-item">
                <div class="answer-head">




    <div class="user-avatar ">
        <a class="avatar" href="/user/162034" target="_blank">
            <img src="https://dn-simplecloud.shiyanlou.com/gravatarNTY0MzE5MTc0NzA5.png?v=1464936302985&amp;imageView2/1/w/200/h/200">
        </a>

    </div>

                </div>
                <div class="answer-detail">
                    <span class="comment-reply">




    <div class="user-username ">
        <a class="username" href="/user/162034" target="_blank">

                齐川同学促销装


        </a>
        <span class="user-level">L28</span>
    </div>

                    </span>

                    <span class="comment-parent">
                        回复




    <div class="user-username ">
        <a class="username" href="/user/347060" target="_blank">

                到此一游


        </a>
        <span class="user-level">L4</span>
    </div>

                    </span>

                    <div class="answer-content markdown-body">
                    <textarea style="display:none;">同学你好！你可以先通过QQ等工具截图后保存为文件，然后在提问的对话框中点击`图片`按钮上传即可。</textarea>
                    </div>



                    <div>
                        <span class="create-time">11分钟前</span>

                        <hr/>
                    </div>
                </div>
            </div>

        </div>
        <div class="your-answer words-ctrl">

            <p style="text-align: center;font-weight: 300; font-size: 18px;">
            <a href="#sign-modal" data-toggle="modal" data-sign="signin" data-next="/questions/8641">登录</a>后回复帖子
            </p>

        </div>
    </div>

        </div>
        <div class="col-md-3 layout-side">

    <a class="btn side-btn" data-toggle="modal" data-target="#askquestion">我要发帖</a>
    <div class="side-image">
    <a href="/vip" target="_blank">
        <img src="https://static.shiyanlou.com/img/banner-vip.png">
    </a>
</div>
    <div class="sidebox side-list related-question">
        <div class="sidebox-header">
            <h4 class="sidebox-title">相关帖子</h4>
        </div>
        <div class="sidebox-body side-list-body">
        </div>
    </div>

        </div>
    </div>
</div>


	<div class="modal fade" id="invite-user" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">邀请好友，双方都可获赠实验豆！</h4>
				</div>
				<div class="modal-body">

                        <p><h4><a href="#sign-modal" data-toggle="modal" data-sign="signin">登录</a>后邀请好友注册，您和好友将分别获赠3个实验豆！</h4></p>

					<div id="msg-modal"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="flash-message" tabindex="-1" role="dialog">
		<div class="modal-dialog" rolw="document">
		</div>
	</div>
	<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">注意</h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary confirm" data-dismiss="modal">确定</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}