{% extends "base.html" %}

{% block title %}
开发者 - 实验楼
{% endblock %}
{% block content %}
<div class="org-header">
    <h2>学习最好用的开发者服务与工具</h2>
    <p>不用重复造轮子，成为最高效的互联网开发者</p>
</div>
<div class="org-body">
    <div class="container">
        <div class="row org-body-desc">
            <div class="col-md-4">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="/static/img/org-kaopu.png">
                    </div>
                    <div class="media-body">
                        最靠谱的<br>服务与工具
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="/static/img/org-jingdian.png">
                    </div>
                    <div class="media-body">
                        最经典的<br>实战项目
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="/static/img/org-gaoxiao.png">
                    </div>
                    <div class="media-body">
                        最高效的<br>实验学习
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="org-body-courses">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <a class="media" href="/courses/show/" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1470893356136.png">
                        </div>
                        <div class="media-body">
                            <p>七牛云存储</p>
                            <h4>结合七牛搭建个人相册</h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/show/" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1470893366264.png">
                        </div>
                        <div class="media-body">
                            <p>高德地图</p>
                            <h4>高德API+Python解决租房问题</h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/show/" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1470893373975.png">
                        </div>
                        <div class="media-body">
                            <p>微信公众平台</p>
                            <h4>基于 Flask 及爬虫实现微信娱乐机器人</h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/609" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1471396005610.png">
                        </div>
                        <div class="media-body">
                            <p>LeanCloud</p>
                            <h4>基于 LeanCloud 的短信验证</h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/622" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1471831989320.png">
                        </div>
                        <div class="media-body">
                            <p>SendCloud邮件服务</p>
                            <h4>基于 SendCloud 的邮箱验证</h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/624" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1471832001504.png">
                        </div>
                        <div class="media-body">
                            <p>Github代码托管</p>
                            <h4>在Github Pages上部署自己的简历</h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/626" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1472537393017.png">
                        </div>
                        <div class="media-body">
                            <p>CIA闪验</p>
                            <h4>基于信令验证技术的身份验证功能</h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/627" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1472537414178.png">
                        </div>
                        <div class="media-body">
                            <p>图灵机器人</p>
                            <h4>基于图灵机器人实现QQ群聊机器人</h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/643" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1476005664662.png">
                        </div>
                        <div class="media-body">
                            <p>环信即时通讯云</p>
                            <h4>基于环信 REST API 的服务端集成示例</h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/642" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1476006471999.png">
                        </div>
                        <div class="media-body">
                            <p>玻森中文语义开放平台</p>
                            <h4>基于 BosonNLP 实现自然语言交互的火车票查询</h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/629" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1476006346021.png">
                        </div>
                        <div class="media-body">
                            <p>阿里云</p>
                            <h4>基于阿里云的 ECS 部署 Ghost 博客</h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/653" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1476094176715.png">
                        </div>
                        <div class="media-body">
                            <p>腾讯文智中文语义平台</p>
                            <h4>基于腾讯文智的情感分析 </h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/665" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1476173256875.png">
                        </div>
                        <div class="media-body">
                            <p>GitBook</p>
                            <h4>基于 Gitbook 制作电子书</h4>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a class="media" href="/courses/648" target="_blank">
                        <div class="media-left">
                            <img class="media-object" src="/static/img/1476237133360.png">
                        </div>
                        <div class="media-body">
                            <p>luosimao</p>
                            <h4>基于 Luosimao 的人机验证服务</h4>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}